#buttons {
  margin-top: 25px;
}

.btn {
  margin: 5px;
}

img {
  margin: 5px;
}

#planes {
  float: left;
}

.divPlanes {
  float: left;
}

#messageDiv {
  margin-top: 10px;
  padding-left: 5px;
}

#validate {
  color: red;
}

#delInst {
  font-weight: 100;
  font-size: 12px;
  padding-left: 5px;
}

#favMess {
  padding-left: 5px;
  color: green;
  font-size: 24px;
}