#buttons {
  margin-top: 25px;
}

.btn {
  margin: 5px;
}

img {
  margin: 5px;
}

#planes {
  float: left;
}

.spanPlanes {
  /* display: inline-block; */
  /* width: 50%; */
  float: left;

  /* background-color: blue; */
}
